body {
    background: white;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

h1 {
    font-size: 5em;
}

a {
    font-size: 3em;
    padding: 1em 0;
    display: block;
    width: 100%;
    vertical-align: middle;
    color: black;
    text-decoration: none;
}

a:active, a:visited {
    color: black;
}

a:hover {
    color: red;
}